.bekezdes
{
    background-color: rgba(86, 86, 86, 0.6);
    margin:50px;
    padding: 25px;
    text-align:inherit ;
    font-size: 14pt;
    border-style: hidden;
    border-radius: 10px;
}

body
{
    background-image: url("../img/background_img.jpg");
    background-attachment: fixed;
    color: azure;
}

h2
{
    text-align: center;
}

h1{
    text-align: center;
}

.kep
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 720px;
}

table
{
    width: 80%;
    border-collapse: collapse;
    border: 3px solid rgb(131, 131, 131);
    margin-left: auto;
    margin-right: auto;
}

td{

    text-align: center;
    height: 50px;
    padding: 15px;
}

th{
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black
}

tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.425);
}


hr{
    color: black;
    display: block;
    height: 1px;
}
.about{
    background-color: rgba(86, 86, 86, 0.6);
    margin:50px;
    padding: 25px;
    text-align:center ;
    font-size: 14pt;
    border-style: hidden;
    border-radius: 10px;
}

.links{
    background-color: rgba(86, 86, 86, 0);

}
a{
    color: azure;
    text-decoration: none;
}
a:visited{
    color: azure;
}

.link{
    background-color: rgba(100,100, 100, 0.4);
    padding: 15px 55px;
    transition: 0.75s;
    border-radius: 10px;

}
.link:hover{
    padding: 25px 75px;
    transition: 0.75s;
}